@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono|Noto+Sans:400,700,400italic,700italic);

BODY {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  color: #000;
  background-color: #fff;
}

H1 {
  font-size: 450%;
  margin: 0 0 0 5%;
  display: inline-block;

  /* this part just makes the alignment look a little better */
  position: relative;
  left: -5px;
}

a:link {
  color: #36f;  /* matches the color of the human graphics */
}

a:hover {
  color: #f00;
}


/* the "subscribe" link */
#top_controls {
  display: inline-block;
}

#top_controls a {
  margin-left: 4em;
}


/* "episode" is the single wrapper for each comic and its attendant elements */
.episode {
  clear: both;
  margin-left: 5%;
  margin-top: 3.5em;
  border-right: 2.5em solid rgba(0,0,0,0);  /* to keep the comics off the right edge of the viewport --
                                               tried putting margins on .episode and the body but it didn't work */
  position: relative;
}


/* prev/next links */
.prevnext {
  font-size: 150%;
  position: absolute;
  top: 1em;
  left: -1.5em;
}

.prevnext a {
  text-decoration: none;
  color: #36f;
}


/* The title and date field that precede the comic panels */
.title {
  float: left;
  font-weight: bold;
  font-size: 110%;
  line-height: 110%;
}

.date {
  float: right;
  /* date panels are also given a varying right margin in comics.js */
}


/* individual panels */
.panel {
  display: inline-block;
  margin: 5px 0 0 0;
  border: 1px solid #222;
  padding: 0;
  width: 250px;
  min-height: 300px;
  position: relative;  /* so panels will be "positioned ancestors" of the images inside them */
}

/* the space between panels */
.panel + .panel {
  margin-left: 10px;
}

.p-left, .p-right, .p-closeup, .p-coded {
  margin: 0;
  border: 0;
  padding: 0;

  position: absolute;
  bottom: 0;
}

.p-left, .p-right {
  width: 50%;
}

.p-left {
  left: 0;
}

.p-right {
  right: 0;
  text-align: right;
}

.p-closeup, .p-coded {
  text-align: center;
  line-height: 0;  /* The image floats a few pixels above the bottom of the panel unless the line-height is set
                      to something small.  I can't pretend to understand why.  This doesn't interfere with the dialogue
                      because .dialogue sets its own line-height, for unrelated reasons. */
}

.p-coded {
  width: 100%;
}

.p-coded table {
  margin: auto;
  line-height: 120%;
  font-size: 150%;
}

.p-coded table th,
.p-coded table td {
  padding: 0.4em;
  text-align: left;
}

/* "extra classes" for panels and dialogue */
.dashed {
  border-style: dashed;
}

.taller {
  /* for comics with lots of dialogue -- this should probably be applied to every panel in a strip, not just one */
  height: 350px;
}

.clockwise_bubble {
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}

.upside-down {
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
}

DIV.padded_bubble {
  padding: 1em;
}

.mechanical_voice {
  font-family: 'Share Tech Mono', monospace;
  font-size: 105%;  /* it looks kind of jagged without this */
}


/* character images */
.panel IMG {
  margin: 10px;
}

.p-closeup IMG {
  margin-bottom: 0;
}


/* dialogue */
.dialogue {
  display: inline-block;  /* 'block' would make them always take the full width available */
  margin: 0px 10px;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 0.4em;
  text-align: center;
  background-color: #fff;  /* in case the dialogue bubbles stretch out of the panel */
  line-height: 15px;  /* setting an explicit line-height in pixels alleviates, but does not solve,
                         some cross-system variations in the size of the dialogue bubbles */
}

/* If there is a link inside a dialog bubble, hide the fact that it's a link.
This makes it read better.  Think of links in bubbles as Easter eggs. */
.dialogue a {
  color: inherit;
  text-decoration: none;
}


/* dialogue tags */
.dtag-human,   .dtag-human-thought,
.dtag-robot,   .dtag-robot-thought,
.dtag-apple,   .dtag-apple-thought,
.dtag-android, .dtag-android-thought {
  margin: 0 15px;
}


/* JSON */
.show_json {
  text-align: right;
  font-size: smaller;
}

.show_json A {
  text-decoration: none;
}

.json {
  font-family: monospace;
  white-space: pre-wrap;  /* so it looks like code */
  border: 1px solid #999;
  padding: 0.5em;
  display: none;  /* hide it by default; the toggle link will show it */
}


/* "News post" */
.news {
  font-style: italic;
  color: #666;
  margin-top: 5px;
}

.news I, .news EM {
  font-style: normal;  /* kind of like a double negative */
}


/* the "more" element contains the "show more comics" link and also marks the place where the comics end */
#more {
  clear: both;
  margin: 4em 5%;
}

#more a {
  border: 1px solid #999;
  border-radius: 0.5em;
  padding: 0.5em;
  text-decoration: none;
}


/* all that text at the end */
#blathering {
  margin: 3.5em 10% 0 5%;
  border-top: 3px double #222;
}
